.ProjectMemberCard_container{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #A7C7E7;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.ProjectMemberCard_trashIcon{
    cursor: pointer;
}