.project_container{
    width: 75vw;
    margin: 20px;
    padding: 20px;
}

.top_section_project{
    display: flex;
    align-items: center;
    justify-content: center;

}

.project_title{
    flex: 15;
}

.wrenchIcon{
    cursor: pointer;
    width: 20px;
    flex: 1;

}

.view_resources{
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;

}

.middle_section_project{
    margin-top: 20px;
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.project_progress{
    background-color: #A7C7E7;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    font-size: 36px;
}

.project_progress_fill{
    left: 0px;
    top: 0px;
    background-color: #2ecc71;
    transition: width 0.5s ease-out;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    
}

.project_member_title{
    flex: 15;
}

.pencilIcon{
    cursor: pointer;
    flex: 1;
}

.project_member{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.task_container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 15px;
}

.todo_container{
    background-color: #E9EAEC;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.progress_container {
    background-color: #E9EAEC;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.completed_container {
    background-color: #E9EAEC;
    width: 300px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.task_section_header{
    display: flex;
    gap: 10px;
}

.add_button{
    margin-top: 5px;
    cursor: pointer;
}

.AddUserToProjectBox{
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #A7C7E7;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}